apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

images:
  - name: docker.io/myuser/my-api
    newTag: staging

commonLabels:
  environment: staging

replicas:
- name: my-api
  count: 2
