apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base

images:
  - name: docker.io/myuser/my-api
    newTag: production

commonLabels:
  environment: production

replicas:
- name: my-api
  count: 3

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
  target:
    kind: Deployment
    name: my-api
